<section class="d-flex h-75 justify-content-center align-items-center">
    <article class="p-3 text-center">
        <i class="fas fa-grimace mb-3 fa-10x text-primary"></i>
        <h1 class="font-weight-bolder">Well... This is embarrassing</h1>
        <h3>It looks like you found a snag in our application. We do apologize for the inconvenience.</h3>
        <h6 class="text-muted">(If you find this to be an error, please contact the adminstrator <a class="btn-link font-weight-bold" asp-action="Contact" asp-controller="Home">here</a>)</h6>
    </article>
</section>
