@page
@model ConfirmEmailModel

<section class="mb-4 jumbotron-green">
    <div class="py-5 container">
        <h1>Confirm email</h1>
    </div>
</section>

<section class="d-flex justify-content-center">
    <div class="container text-center">
        <i class="fa-5x fas fa-check-circle text-success"></i>
        <h2>Email Confirmed!</h2>
        <p class="h4">The email that is associated with your account has been confirmed! You can now <a asp-page="./Login">Log in</a></p>
    </div>
</section>