@page
@model ConfirmEmailChangeModel

<section class="mb-4 jumbotron-green">
    <div class="py-5 container">
        <h1 class="text-capitalize">Confirm email change</h1>
    </div>
</section>

<partial name="_StatusMessage" model="Model.StatusMessage" />