@page
@model ForgotPasswordConfirmation

<section class="mb-4 jumbotron-green">
    <div class="py-5 container">
        <h1>Forgot Password Confirmation</h1>
    </div>
</section>

<section class="d-flex justify-content-center">
    <div class="container text-center">
        <i class="fa-5x fas fa-check-circle text-success"></i>
        <h2>Forgot Password Completed!</h2>
        <p>
            Your request to reset your password is successful. Please check your email for more instructions
        </p>
    </div>
</section>

