@page
@model LoginModel

<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h3 class="mb-3">Login Now</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="bg-white shadow rounded">
                <div class="row">
                    <div class="col-md-7 pe-0">
                        <div class="h-100 p-5">
                            <form asp-route-returnUrl="@Model.ReturnUrl" class="row g-4" method="post">
                                <div class="col-12">
                                    <label asp-for="Input.Email">Email<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                                        <input asp-for="Input.Email" type="text" class="form-control" placeholder="Enter Email">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label asp-for="Input.Password">Password<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Enter Password">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input asp-for="Input.RememberMe" class="form-check-input" type="checkbox">
                                        <label asp-for="Input.RememberMe" class="form-check-label">Remember me</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <a asp-page="./ForgotPassword" class="float-end text-primary">Forgot Password?</a>
                                </div>

                                <div class="col-12">
                                    <a asp-page="./ResendEmailConfirmation" class="float-end text-primary">Resend Email Confirmation</a>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary px-4 float-end mt-4">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5 ps-0 d-none d-md-block">
                        <div class="h-100 bg-dark d-flex justify-content-center align-items-center">
                            <div class="text-white text-center">
                                <i class="fas fa-columns fa-5x mb-3"></i>
                                <h2 class="fs-1">Welcome Back!!!</h2>
                                <p>Need to create an an account? Sign up <a class="text-white" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-secondary float-end mt-3"><span class="text-danger">*</span>All fields are required</p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
