@page
@model ResetPasswordModel

<section class="mb-4 jumbotron-green">
    <div class="py-5 container">
        <h1>Reset password</h1>
    </div>
</section>

<section class="container mb-3">
    <span class="lead d-block text-center mb-2">Fill out the form below to reset the password associated with your account</span>
    <form method="post" class="col-md-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="mb-3 row">
            <label asp-for="Input.Email" class="text-md-center col-form-label col-md-3"></label>
            <div class="col-md-9">
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Input.Password" class="text-md-center col-form-label col-md-3"></label>
            <div class="col-md-9">
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Input.ConfirmPassword" class="text-md-center col-form-label col-md-3"></label>
            <div class="col-md-9">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary">Reset</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
